In [3]:
import seaborn as sns 
import matplotlib.pyplot as plt 
import numpy as np 
import pandas as pd

In [9]:
import pandas as pd 
df=pd.read_csv("C:\Users\HP\Desktop\Full Stack Python Training\04_Other_libraries_in_python\iris.csv")
df

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (252117621.py, line 2)

In [12]:
import pandas as pd 
df=pd.read_csv("C:/Users\HP\Downloads/archive (3).zip")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [22]:
import seaborn as sns 
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd 
df=pd.read_csv("C:\Users\HP\Downloads\archive (3).zip")
df

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (302809732.py, line 5)

In [25]:
import seaborn as sns 
import matplotlib.pyplot as plt 
import numpy as np 
import pandas as pd 
df=pd.read_csv("C:/Users\HP\Downloads/archive (3).zip")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [27]:
import seaborn as sns 
import matplotlib.pyplot as plt 
import numpy as np 
import pandas as pd 
df=pd.read_csv("C:/Users\HP\Downloads/archive (3).zip")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [30]:
import pandas as pd 
import numpy as np 
df=pd.Series([1, 3, 5, 7, 3, 8, 9])
df

0    1
1    3
2    5
3    7
4    3
5    8
6    9
dtype: int64

In [35]:
import numpy as np 
import pandas as pd 
df=pd.Series([1,3,5,7,9])
df

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [39]:
import numpy as np 
import pandas as pd 
df=pd.Series([1,2,3,4,5,6,7,8,9])
df

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [41]:
import numpy as np 
import pandas as pd 
df=pd.Series([1,2,3,4,5,6,7,8,9])
df.describe()

count    9.000000
mean     5.000000
std      2.738613
min      1.000000
25%      3.000000
50%      5.000000
75%      7.000000
max      9.000000
dtype: float64

In [43]:
import numpy as np 
import pandas as pd 
df=pd.Series([1,2,3,4,5,6,7,8,9])
df.head()

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [45]:
import numpy as np 
import pandas as pd 
df=pd.Series([1,2,3,4,5,6,7,8,9])
df.tail()

4    5
5    6
6    7
7    8
8    9
dtype: int64

In [50]:
import numpy as np 
import pandas as pd 
df=pd.Series([1,3, np.nan, 5,7,9])
df

0    1.0
1    3.0
2    NaN
3    5.0
4    7.0
5    9.0
dtype: float64

In [52]:
import numpy as np 
import pandas as pd 
df=pd.Series([2,4,6,8])
df

0    2
1    4
2    6
3    8
dtype: int64

In [54]:
import numpy as np 
import pandas as pd 
df=pd.Series([2, 4, 6, np.nan, 8])
df

0    2.0
1    4.0
2    6.0
3    NaN
4    8.0
dtype: float64

In [56]:
import numpy as np 
import pandas as pd 
dates=pd.date_range("20230101", periods=6)
dates

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

In [59]:
import numpy as np 
import pandas as pd 
dates=pd.date_range("20230811", periods=10)
dates

DatetimeIndex(['2023-08-11', '2023-08-12', '2023-08-13', '2023-08-14',
               '2023-08-15', '2023-08-16', '2023-08-17', '2023-08-18',
               '2023-08-19', '2023-08-20'],
              dtype='datetime64[ns]', freq='D')

In [64]:
import seaborn as sns 
import matplotlib.pyplot as plt 
import numpy as np 
import pandas as pd 
df=pd.read_csv("C:/Users\HP\Downloads/archive (3).zip")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [66]:
import seaborn as sns 
import matplotlib.pyplot as plt 
import numpy as np 
import pandas as pd 
dates=pd.date_range("20230811", periods=31)
dates

DatetimeIndex(['2023-08-11', '2023-08-12', '2023-08-13', '2023-08-14',
               '2023-08-15', '2023-08-16', '2023-08-17', '2023-08-18',
               '2023-08-19', '2023-08-20', '2023-08-21', '2023-08-22',
               '2023-08-23', '2023-08-24', '2023-08-25', '2023-08-26',
               '2023-08-27', '2023-08-28', '2023-08-29', '2023-08-30',
               '2023-08-31', '2023-09-01', '2023-09-02', '2023-09-03',
               '2023-09-04', '2023-09-05', '2023-09-06', '2023-09-07',
               '2023-09-08', '2023-09-09', '2023-09-10'],
              dtype='datetime64[ns]', freq='D')

In [68]:
import seaborn as sns 
import matplotlib.pyplot as plt 
import numpy as np 
import pandas as pd 
dates=pd.date_range("20230814", periods=30)
dates

DatetimeIndex(['2023-08-14', '2023-08-15', '2023-08-16', '2023-08-17',
               '2023-08-18', '2023-08-19', '2023-08-20', '2023-08-21',
               '2023-08-22', '2023-08-23', '2023-08-24', '2023-08-25',
               '2023-08-26', '2023-08-27', '2023-08-28', '2023-08-29',
               '2023-08-30', '2023-08-31', '2023-09-01', '2023-09-02',
               '2023-09-03', '2023-09-04', '2023-09-05', '2023-09-06',
               '2023-09-07', '2023-09-08', '2023-09-09', '2023-09-10',
               '2023-09-11', '2023-09-12'],
              dtype='datetime64[ns]', freq='D')

In [70]:
import pandas as pd 
df=pd.Series([2,4,6,8,10])
df

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [72]:
import pandas as pd 
df=pd.Series([2,4,6,8,10])
df.describe()

count     5.000000
mean      6.000000
std       3.162278
min       2.000000
25%       4.000000
50%       6.000000
75%       8.000000
max      10.000000
dtype: float64

In [74]:
import pandas as pd 
df=pd.Series([2,4,6,8,10])
df.head()

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [76]:
import pandas as pd 
df=pd.Series([2,4,6,8,10])
df.tail()

0     2
1     4
2     6
3     8
4    10
dtype: int64